<ActionBar title="Material Icons Demo"></ActionBar>
<StackLayout class="icons-container">
  <GridLayout rows="100" columns="*, *">
    <Label
        col="0"
        class="mdi"
        [text]="'mdi-favorite' | fonticon">
    </Label>
    <Label
        col="1"
        class="mdi"
        [text]="'mdi-share' | fonticon">
    </Label>
  </GridLayout>
  <GridLayout rows="100" columns="*, *">
    <Label
        col="0"
        class="mdi"
        [text]="'mdi-android' | fonticon">
    </Label>
    <Label
        col="1"
        class="mdi"
        [text]="'mdi-backup' | fonticon">
    </Label>
  </GridLayout>
  <GridLayout rows="100" columns="*, *">
    <Label
        col="0"
        class="mdi"
        [text]="'mdi-code' | fonticon">
    </Label>
    <Label
        col="1"
        class="mdi"
        [text]="'mdi-done' | fonticon">
    </Label>
  </GridLayout>
  <GridLayout rows="100" columns="*, *">
    <Label
        col="0"
        class="mdi"
        [text]="'mdi-lightbulb-outline' | fonticon">
    </Label>
    <Label
        col="1"
        class="mdi"
        [text]="'mdi-list' | fonticon">
    </Label>
  </GridLayout>
  <GridLayout rows="100" columns="*, *">
    <Label
        col="0"
        class="mdi"
        [text]="'mdi-record-voice-over' | fonticon">
    </Label>
    <Label
        col="1"
        class="mdi"
        [text]="'mdi-shopping-cart' | fonticon">
    </Label>
  </GridLayout>
  <GridLayout rows="100" columns="*, *">
    <Label
        col="0"
        class="mdi"
        [text]="'mdi-warning' | fonticon">
    </Label>
    <Label
        col="1"
        class="mdi"
        [text]="'mdi-play-arrow' | fonticon">
    </Label>
  </GridLayout>
</StackLayout>
